.header {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}
// ===HEADER-CONTAINER
// .header-container {
// }

// ======HEADER-PAGE
.header-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// =========LOGO
.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  font-size: 24px;
  letter-spacing: 0.03em;
  padding-top: 16px;
  padding-bottom: 16px;

  &-web {
    color: $primary-color;
  }
}

// ========MENU-BUTTON

.menu-button {
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin: 0;

  border: none;
  background-color: transparent;
  z-index: 15;

  @media screen and (min-width: 767.8px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

// =======MENU-CONTAINER

.menu-container {
  display: none;
  z-index: 3;

  @media screen and (max-width: 767.8px) {
    position: fixed;
    left: 0;
    top: 0;
    background-color: $light;
    height: 100vh;
    width: 100vw;
    padding: 40px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.menu-container.is-open {
  display: block;
}

// ===MENU-FLEX

.menu-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// ===NAVIGATION-HEADER

.navigation-header {
  @media screen and (min-width: 768px) {
    margin-right: 84px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    margin-right: 290px;
  }
}

// ==============MENU-CONTAINER__LIST

.menu-container__list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.menu-container__item:not(:last-child) {
  @media screen and (max-width: 767.8px) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}
.menu-container__link {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $main-color;

  &--current {
    color: $primary-color;
  }

  &:hover,
  &:focus {
    color: $primary-color;
  }

  @media screen and (max-width: 767.8px) {
    font-size: 40px;
    line-height: 1.17;
  }
  @media screen and (min-width: 768px) {
    display: block;
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;

    &--current::after {
      display: block;
      content: "";
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: $primary-color;
      position: absolute;
      left: 0;
      bottom: -1px;
    }
  }

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

// ==========MENU-CONTAINER__WRAPER

.menu-container__wraper {
  @media screen and (max-width: 767.8px) {
    position: fixed;
    bottom: 0;
  }
}

// ====CONNECT__LIST

.connect__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row-reverse;
  }
}

.connect__item {
}

.connect__item:nth-child(2) {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.connect__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-top: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 0px;
  }
}

.connect__link {
  display: inline-flex;
  font-family: "Roboto", sans-serif;
  font-style: normal;

  &:hover,
  &:focus {
    color: $hover-color;
    fill: $hover-color;
  }

  &--current {
    color: $primary-color;
    fill: $primary-color;
  }

  @media screen and (max-width: 767.8px) {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: $color-link;

    &--tel {
      font-size: 34px;
      line-height: 1.17;
      color: $primary-color;
      margin-bottom: 32px;
    }

    &--mail {
      font-size: 24px;
      line-height: 1.16;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: $color-link;

    &:hover,
    &:focus {
      color: $hover-color;
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

// ======connect-icons

.connect__icon {
  @media screen and (max-width: 767.8px) {
    display: none;
  }

  fill: currentColor;

  &--tel {
    width: 10px;
    height: 14px;

    @media screen and (min-width: 1200px) {
      width: 10px;
      height: 16px;
    }
  }

  &--envelope {
    width: 14px;
    height: 10px;

    @media screen and (min-width: 1200px) {
      width: 16px;
      height: 12px;
    }
  }

  @media screen and (min-width: 768px) {
    display: inline-flex;
    margin-right: 8px;

    &:hover,
    &:focus {
      fill: $hover-color;
      color: $hover-color;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-right: 8px;
  }
}

// ===MENU-SOCIAL

.menu-social {
  display: flex;
  padding-top: 64px;
  padding-bottom: 48px;

  &__item:not(:last-child) {
    &:after {
      content: "";
      border: 1px solid rgba(33, 33, 33, 0.2);
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  &__link {
    // display: block;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: $primary-color;
  }

  @media screen and (min-width: 767.8px) {
    display: none;
  }
}
